registry=https://pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/registry/
always-auth=true

; begin auth token
//pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/registry/:username=fixPDQ
//pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/registry/:_password=a3Fjc2NiZzNvbWRsd29xb2ZrM2F2cW42b2ptNGR0ZW42cG1xczJwazVvM2J0Y3FraW56YQ==
//pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/:username=fixPDQ
//pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/:_password=a3Fjc2NiZzNvbWRsd29xb2ZrM2F2cW42b2ptNGR0ZW42cG1xczJwazVvM2J0Y3FraW56YQ==
//pkgs.dev.azure.com/fixPDQ/fixPDQ/_packaging/fixPDQ.Packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
