{
    "ENVIRONMENT": "#{ENVIRONMENT}#",
    "AWS_REGION": "#{AWS_REGION}#",
    "AWS_ACCOUNT": "#{AWS_ACCOUNT}#",
    "USER_POOL_ID": "#{USER_POOL_ID}#",
    "CALLBACK_URLS": "#{CALLBACK_URLS}#",
    "TWILIO_ACCOUNT_SID": "#{TWILIO_ACCOUNT_SID}#",
    "TWILIO_AUTH_TOKEN": "#{TWILIO_AUTH_TOKEN}#",
    "TWILIO_SERVICE_SID": "#{TWILIO_SERVICE_SID}#"
}