{
  "Parameters": {
    "ENVIRONMENT": "dev",
    "LOGGING_LEVEL": "debug",
    "LOGGING_DRIVER": "console",
    "TWILIO_ACCOUNT_SID": "ACd74a362180af1e54e63db8cce61ccb67",
    "TWILIO_AUTH_TOKEN": "91c1cb2790e0123ca55d360073682499"
  }
}
